# Dependencies
node_modules/

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build/cache
*.cache
coverage/
dist/
.next/
.out/
